"*":
  core:
    disabledPackages: [
      "rubocop-auto-correct"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "b814a295-ccaa-99c6-6f62-d26a84302683"
  linter: {}
  "linter-rubocop": {}
  rspec:
    save_before_run: true
  "rubocop-auto-correct": {}
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
